<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APP</title>
    <link rel="shortcut icon" href="~/img/skate.png">
    <link rel="stylesheet" href="~/css/slick.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css">
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="#" asp-append-version="true" />
    <link rel="stylesheet" href="~/APP.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <nav class="nav-menu">
            <ul class="nav-list">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" alt="logo"></a>
                <li></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Loja</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">Cadrastro</a></li>
            </ul>
        </nav>
    </header>

	<div class="main">
		@RenderBody()
	</div>
    
	<footer>
		<div class="container">
			<div class="row footer-item-cover">
				<div class="footer-subscribe col-md-7 col-lg-8">
					<h6>subscribe</h6>
					<p>Subscribe us and you won't miss the new arrivals, as well as discounts and sales.</p>
					<form class="subscribe-form">
						<i class="fa fa-at" aria-hidden="true"></i>
						<input class="inp-form" type="email" name="subscribe" placeholder="E-mail">
						<button type="submit" class="btn btn-form"><span>send</span></button>
					</form>
				</div>
				<div class="footer-item col-md-5 col-lg-4">
					<h6>info</h6>
					<ul class="footer-list">
						<li><a href="shop.html">FAQ</a></li>
						<li><a href="shop.html">Contacts</a></li>
						<li><a href="shop.html">Shipping + Heading</a></li>
						<li><a href="shop.html">Exchanges</a></li>
						<li><a href="shop.html">2019 Catalog</a></li>
						<li><a href="shop.html">Returns</a></li>
						<li><a href="shop.html">Search</a></li>
					</ul>
				</div>
			</div>
			<div class="row footer-item-cover">
				<div class="footer-touch col-md-7 col-lg-8">
					<h6>FIQUE NA ONDA</h6>
					<ul class="footer-soc social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					</ul>
					<div class="footer-autor">Perguntas? Por favor, escreva para nós: <a href="mailto:sk8toony@gmail.com">sk8toony@gmail.com</a></div>
				</div>
				<div class="footer-item col-md-5 col-lg-4">
					<h6>shop</h6>
					<ul class="footer-list">
						<li><a href="shop.html">Road Bike</a></li>
						<li><a href="shop.html">City Bike</a></li>
						<li><a href="shop.html">Mountain Bike</a></li>
						<li><a href="shop.html">Kids Bike</a></li>
						<li><a href="shop.html">BMX Bike</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<p>&copy;SK8TOONY 2024. All Rights Reserved.</p>
				<ul class="footer-pay">
					<li><a href="#"><img src="~/img/footer-pay-1.png" alt="img"></a></li>
					<li><a href="#"><img src="~/img/footer-pay-2.png" alt="img"></a></li>
					<li><a href="#"><img src="~/img/footer-pay-3.png" alt="img"></a></li>
					<li><a href="#"><img src="~/img/footer-pay-4.png" alt="img"></a></li>
				</ul>
			</div>
		</div>
	</footer>

    <script src="~/js/jquery-2.2.4.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.nice-select.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/lazyload.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
